<?xml version="1.0"?>
<settings>
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>my.anypoint.credentials</id>
			<username>${{ secrets.anypoint_platform_username }}</username>
			<password>${{ secrets.anypoint_platform_password }}</password>
		</server>
	</servers>
</settings>